<div class="container">
  <div class="row">
    <div class="d-flex col-md-12">
      <h2>
        <%= @the_board.name %>
      </h2>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-outline-success ms-auto" data-bs-toggle="modal" data-bs-target="#postModal">
        Add a new post
      </button>
      <!-- Modal -->
      <div class="modal fade" id="postModal" tabindex="-1" aria-labelledby="postModalLabel" aria-hidden="true" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="addPostModal">New post</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
              <div class="modal-body">
                <form action="/insert_post" method="post">
                  <div class="pb-2">
                    <label for="title_box">Title</label>
                    <input class="w-100 form-control" type="text" id="title_box" name="query_title">
                  </div>

                  <div class="pb-1">
                    <label for="body_box">Body</label>
                    <textarea class="w-100 form-control" id="body_box" name="query_body" rows="3"></textarea>
                  </div>
                  
                  <div class="pb-3">
                    <label for="expires_on_box">Expires on</label>
                    <input class="w-100 p-2 form-control" type="date" id="expires_on_box" name="query_expires_on">
                  </div>

                  <input type="hidden" id="board_id_box" name="query_board_id" value="<%= @the_board.id %>">
                  <button type="submit" class="btn btn-primary w-100">Add post</button>
              </div>
              </form>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ul class="nav nav-tabs p-3 nav-fill">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Active posts (<%= @active_posts.length%>)</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#">Expired posts (<%= @expired_posts.length%>)</a>
  </li>
</ul>

<div class="container">
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <% @active_posts.each do |a_post| %>
      <div class="col">
        <div class="card col">
          <div class="card-header">
            <h6><%= a_post.title %></h6>
            <div>Expires on <%= a_post.expires_on.strftime("%b %e, %Y") %></div>
          </div>

          <div class="list-group list-group-flush">
            <div class="list-group-item">
              <%= a_post.body %>
            </div>
            <div class="card-footer">
              Posted on <%= a_post.created_at.strftime("%b %e, %Y") %>
            </div>
          </div>
        </div>
      </div>
    <% end %> 
  </div>
</div>



<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Body</th>
        <th scope="col">Posted on</th>
        <th scope="col">Expired on</th>
      </tr>
    </thead>
    <tbody>
      <% @expired_posts.each do |a_post| %>
        <tr>
          <td><%= a_post.title %></td>
          <td><%= a_post.body %></td>
          <td><%= a_post.created_at.strftime("%b %e, %Y") %></td>
          <td><%= a_post.expires_on.strftime("%b %e, %Y") %></td>
        </tr>
      <% end %> 
    </tbody>
  </table>
</div>
